<div class="button-row">
  <span class="title">nostrobserver</span>
  <button mat-raised-button color="primary" (click)="onProfilesButtonPress()">
    <mat-icon>transcribe</mat-icon>
    Profiles
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
</div>
<div class="newsview">
  <div *ngFor="let t of texts" class="content" [ngStyle]="{ 'color': t.observe.display_color }">
    <span class="meta">{{ t.timestamp_str }} : {{ t.observe.alias}}</span>
    <span *ngIf="t.msgKind == MsgKind.outgoing" class="direction">&#x276F;</span>
    <span *ngIf="t.msgKind == MsgKind.incoming" class="direction">&#x276E;</span>
    <span class="content">{{ t.content }}</span>
    <div class="seperator"></div>
  </div>
</div>
